.header {
  height: 60px;
  background-color: $primary-сolor;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .title {
    text-transform: uppercase;
  }
}

.inventory-stats {
  margin-left: auto;
  display: none;
  gap: 10px;
  font-weight: 600;
}

@media screen and (min-width: $md) {
  .inventory-stats {
    display: flex;
  }
}
