//breakpoints
$md: 768px;
$lg: 1440px;

//colors
$primary-text-color: #ffffff;
$secondary-text-color: #cccccc;
$card-title: #666666;

$primary-сolor: #ff7f0e;
$bg-color: #f0f0f0;
$card-color: #e0e0e0;
