.weapons-section {
  min-height: calc(100vh - 60px);
  padding: 40px 0;
}

.weapons-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

@media screen and (min-width: $md) {
  .weapons-list {
    gap: 25px;
  }
}

.weapon-card {
  overflow: hidden;
  cursor: pointer;
  transition: all $transition;
  width: calc((100% - 15px) / 2);
  border-radius: 8px;

  &:hover {
    box-shadow: $shadow;
  }

  &:hover .weapon-name {
    background-color: $primary-сolor;
    color: white;
  }
}

@media screen and (min-width: $md) {
  .weapon-card {
    width: calc((100% - 50px) / 3);
  }
}

@media screen and (min-width: $lg) {
  .weapon-card {
    width: calc((100% - 100px) / 5);
  }
}

.weapon-image-wrapper {
  width: 100%;
  background: url('/public/textura.avif');
  background-size: cover;
}

.weapon-image {
  padding: 10px;
}

.weapon-name {
  background-color: $card-color;
  color: $card-title;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  transition: all $transition;
}

@media screen and (min-width: $md) {
  .weapon-name {
    font-size: 20px;
  }
}

.weapon-modal-image {
  background: url('/public/textura.avif');
  background-size: cover;
  border: 2px solid white;
  border-radius: 8px;
  padding: 10px;
}

.weapon-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

@media screen and (min-width: $md) {
  .weapon-info {
    gap: 20px;
  }
}

.weapon-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: $md) {
  .weapon-details {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
}

.market-link {
  width: fit-content;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  color: black;
  margin-top: 20px;
  float: right;
  transition: all $transition;

  &:hover {
    background-color: $card-color;
    color: $card-title;
  }
}
