@import 'common';
@import 'variables';

.header {
  height: 60px;
  background-color: $primary-сolor;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .title {
    text-transform: uppercase;
  }
}

.weapons-section {
  min-height: calc(100vh - 60px);
  padding: 40px 0;
}
